@model ParqueoApp3.ViewModels.AdministrarUsuariosVM;

<html style="background-color: blueviolet;">
<head>
    <title>Administracion de Usuarios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background-color: blueviolet;">
    <div class="row mt-5 justify-content-center" style="background-color: blueviolet;">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h3>Registro de Usuarios</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Acceso" asp-action="AdministrarUsuarios" method="post">
                        <input class="form-control mb-3" type="text" placeholder="Nombre" required asp-for="nombre" />
                        <input class="form-control mb-3" type="text" placeholder="Apellido" required asp-for="apellido" />
                        <input class="form-control mb-3" type="email" placeholder="Correo electronico" required asp-for="correo" />
                        <input class="form-control mb-3" type="password" placeholder="Password" required asp-for="password" />
                        <select class="form-control mb-3" placeholder="Rol" required asp-for="role">
                            <option disabled selected value="Rol">Rol</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Usuario">Usuario</option>
                            <option value="Seguridad">Seguridad</option>
                        </select>
                        <select class="form-control mb-3" placeholder="Tipo de vehiculo 1" required asp-for="tipo_vehiculo1">
                            <option disabled selected value="Seleccione el tipo de vehiculo">Seleccione el tipo de vehiculo</option>
                            <option value="Automovil">Automovil</option>
                            <option value="Motocicleta">Motocicleta</option>
                            <option value="Discapacitado">Discapacitado</option>
                        </select>
                        <input class="form-control mb-3" type="text" placeholder="Placa 1" required asp-for="placa1" />
                        <select class="form-control mb-3" placeholder="Tipo de vehiculo 2" asp-for="tipo_vehiculo2">
                            <option disabled selected value="Seleccione el tipo de vehiculo">Seleccione el tipo de vehiculo</option>
                            <option value="Automovil">Automovil</option>
                            <option value="Motocicleta">Motocicleta</option>
                            <option value="Discapacitado">Discapacitado</option>
                        </select>
                        <input class="form-control mb-3" type="text" placeholder="Placa 2" asp-for="placa2" />
                        <button class="btn btn-primary btn-block" type="submit">Registrar</button>
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h3>Modificar/Eliminar Usuarios</h3>
                </div>
                <div class="card-body">
                    <h3>Usuarios registrados</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Vehiculos</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewData["Usuarios"] != null)
                            {
                                var usuarios = ViewData["Usuarios"] as List<Usuario>;
                                var vehiculos = ViewData["Vehiculos"] as List<Vehiculo>;
                                foreach (var usuario in usuarios)
                                {
                                    <tr>
                                        <td>@usuario.nombre</td>
										<td>@usuario.apellido</td>
										<td>@usuario.correo</td>
										<td>@usuario.role</td>
                                        <td>
											@foreach (var vehiculo in vehiculos.Where(v=> v.id_usuario == usuario.id_usuario))
											{
												<p>@vehiculo.tipo_vehiculo - @vehiculo.placa</p>
											}
                                        </td>
                                        <td>
                                            <form asp-controller="Acceso" asp-action="ModificarUsuarios" method="get">
												<input type="hidden" name="correo" value="@usuario.correo" />
												<button class="btn btn-info btn-sm" type="submit">Modificar</button>
                                            </form>
                                            <form asp-controller="Acceso" asp-action="AdministrarUsuarios" method="post" onsubmit="return confirm('Esta seguro que desea eliminar este usuario?');">
                                                <input type="hidden" name="_method" value="DELETE"/>
                                                <input type="hidden" name="id_usuario" value="@usuario.id_usuario"/>
                                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                            </form>
                                            
                                        </td>
                                    </tr>    
                                
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
