@model ParqueoApp3.ViewModels.AdministrarUsuariosVM;

<html style="background-color: blueviolet;">
<head>
    <title>Modificar Usuarios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background-color: blueviolet;">
    <div class="row mt-5 justify-content-center" style="background-color: blueviolet;">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h3>Modificar Usuario</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Acceso" asp-action="ModificarUsuarios" method="post">
                        <input type="hidden" name="_method" value="PUT" />
                        <input class="form-control mb-3" type="text" placeholder="Nombre" required asp-for="nombre" value="@Model.nombre" />
                        <input class="form-control mb-3" type="text" placeholder="Apellido" required asp-for="apellido" value="@Model.apellido" />
                        <input class="form-control mb-3" type="email" placeholder="Correo electronico" required asp-for="correo" value="@Model.correo" />
                        <input class="form-control mb-3" type="password" placeholder="Password" required asp-for="password" value="@Model.password" />
                        <select class="form-control mb-3" placeholder="Rol" required asp-for="role">
                            <option disabled selected value="Rol">Rol</option>
                            <option value="Administrador" selected="@(Model.role == "Administrador")">Administrador</option>
                            <option value="Usuario" selected="@(Model.role == "Usuario")">Usuario</option>
                            <option value="Seguridad" selected="@(Model.role == "Seguridad")">Seguridad</option>
                        </select>
                        <select class="form-control mb-3" placeholder="Tipo de vehiculo 1" required asp-for="tipo_vehiculo1">
                            <option disabled selected value="Seleccione el tipo de vehiculo">Seleccione el tipo de vehiculo</option>
                            <option value="Automovil" selected="@(Model.tipo_vehiculo1 == "Automovil")">Automovil</option>
                            <option value="Motocicleta" selected="@(Model.tipo_vehiculo1 == "Motocicleta")">Motocicleta</option>
                            <option value="Discapacitado" selected="@(Model.tipo_vehiculo1 == "Discapacitado")">Discapacitado</option>
                        </select>
                        <input class="form-control mb-3" type="text" placeholder="Placa 1" required asp-for="placa1" value="@Model.placa1" />
                        <select class="form-control mb-3" placeholder="Tipo de vehiculo 2" asp-for="tipo_vehiculo2">
                            <option disabled selected value="Seleccione el tipo de vehiculo">Seleccione el tipo de vehiculo</option>
                            <option value="Automovil" selected="@(Model.tipo_vehiculo2 == "Automovil")">Automovil</option>
                            <option value="Motocicleta" selected="@(Model.tipo_vehiculo2 == "Motocicleta")">Motocicleta</option>
                            <option value="Discapacitado" selected="@(Model.tipo_vehiculo2 == "Discapacitado")">Discapacitado</option>
                        </select>
                        <input class="form-control mb-3" type="text" placeholder="Placa 2" asp-for="placa2" value="@Model.placa2" />
                        <button class="btn btn-primary btn-block" type="submit">Modificar</button>
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>